*,
*:before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
}

p {
    margin: 0;
}



.text1 {
    font-size: 35px;
}

.text2 {
    margin-left: 23%;
}

.text3 {
    font-size: 40px;
}


.text4 {
    font-size: 17px;
}

.forms {
    width: 42%;
    background-color: #E4E4E3;
    border-radius: 10px 10px 10px 10px;
}


@media screen and (min-width:768px) and (max-width: 991px) {

    .text3 {
        font-size: 30px;
    }

    .text4 {
        font-size: 13px;
    }
}


@media screen and (min-width:576px) and (max-width: 767px) {
    .text3 {
        font-size: 20px;
    }

    .text4 {
        font-size: 12px;
    }


    .forms {
        width: 80%;
        background-color: #E4E4E3;
        border-radius: 10px 10px 10px 10px;
    }
}

@media screen and (min-width:320px) and (max-width: 576px) {
    .text3 {
        font-size: 18px;
    }

    .text4 {
        font-size: 14px;
    }

    .forms {
        width: 80%;
        background-color: #E4E4E3;
        border-radius: 10px 10px 10px 10px;
    }
}
